tests/
database/database.sqlite
storage/logs/**/*
storage/app/livewire-tmp/**/*
storage/app/magic-artifacts/**/*
storage/app/uploads/**/*
storage/app/var/**/*
storage/app/public/**/*
storage/app/framework/**/*
storage/app/storage/**/*
storage/app/views/**/*
storage/media-library/**/*
.env.example
.env.testing
.env.testing.example
.env.testing.example.php
Dockerfile
docker-compose.yml
public/hot
