@import '/vendor/filament/filament/resources/css/theme.css';
/*@import "/vendor/tempest/highlight/src/Themes/Css/highlight-light-lite.css";*/
@import "/vendor/tempest/highlight/src/Themes/Css/highlight-dark-lite.css";

html {
    scrollbar-gutter: stable;
}

.perso-card-container { perspective: 2000px; }
.perso-card {
    transition: transform 0.02s;
    transform-style: preserve-3d;
}
.security-pattern {
    background-image: repeating-linear-gradient(
        50deg,
        rgba(0, 0, 0, 0.06) 0px,
        rgba(0, 0, 0, 0.06) 3px,
        transparent 3px,
        transparent 5px
    );
}
.dark .security-pattern {
    background-image: repeating-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.1) 0px,
        rgba(255, 255, 255, 0.1) 3px,
        transparent 3px,
        transparent 5px
    );
}
.shine {
    position: absolute;
    top: -100%;
    left: -100%;
    right: 0;
    bottom: 0;
    /*background: linear-gradient(135deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,0) 100%);*/
    background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.7) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
    opacity: 0;
    transition: opacity 0.1s;
    pointer-events: none;
    width: 200%;
    height: 200%;
}

.dark .shine {
    background: radial-gradient(circle at 50% 50%, rgba(var(--gray-200),0.1) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
}

.magic-button {
  position: relative;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
  padding: 14px 25px;
  border-radius: 10px;
  font-size: 1.25em;
  cursor: pointer;
}

.magic-button span {
  position: relative;
  z-index: 1;
}

.magic-button::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: #272727;
  border-radius: 9px;
  transition: 0.5s;
}

.magic-button:hover::before {
  opacity: 0.7;
}

.magic-button::after {
  content: "";
  position: absolute;
  inset: 0px;
  background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
  border-radius: 9px;
  transition: 0.5s;
  opacity: 0;
  filter: blur(20px);
}

.magic-button:hover:after {
  opacity: 1;
}



@config 'tailwind.config.js';

